@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

.container {
    width: 829px;
    height: 132px;
    border-radius: 6px;
    border: solid 1px #dddfe0;
}

.tag-list {
    display: inline-flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 18px;
}

/* Cafe*/
.rectangle-cafe {
    display: flex;
    width: 78px;
    height: 42px;
    max-width: 300px;
    max-height: 42px;
    border-radius: 6px;
    background-color: #eef2f7;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 12px;
}
    
.cafe {
    display: flex;
    margin-left: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.cafe-item {
    font-family: Roboto;
    text-decoration: none;
    font-size: 13px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 12px;
    padding-top: 4px;
}

.Group-Copy-1 {
    width: 11px;
    height: 11px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 13px;
}

/* Internet */
.rectangle-internet {
    display: flex;
    width: 108px;
    height: 42px;
    max-width: 300px;
    max-height: 42px;
    border-radius: 6px;
    background-color: #eef2f7;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
}
    
.internet {
    display: flex;
    margin-left: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.internet-item {
    font-family: Roboto;
    text-decoration: none;
    font-size: 13px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 12px;
    padding-top: 4px;
}

.Group-Copy-2 {
    width: 11px;
    height: 11px;
    object-fit: contain;
    margin-top: 19px;
    margin-bottom: 13px;
}


/* Phone*/
.rectangle-phone {
    display: flex;
    width: 102px;
    height: 42px;
    max-width: 300px;
    max-height: 42px;
    border-radius: 6px;
    background-color: #eef2f7;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;
}
    
.phone {
    display: flex;
    margin-left: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.phone-item {
    font-family: Roboto;
    text-decoration: none;
    font-size: 13px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 12px;
    padding-top: 4px;
}

.Group-Copy-3 {
    width: 11px;
    height: 11px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 13px;
}

/* Auto */
.rectangle-auto {
    display: flex;
    width: 72px;
    height: 42px;
    max-width: 300px;
    max-height: 42px;
    border-radius: 6px;
    background-color: #eef2f7;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 12px;
}
    
.auto {
    display: flex;
    margin-left: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.auto-item {
    font-family: Roboto;
    text-decoration: none;
    font-size: 13px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 12px;
    padding-top: 4px;
}

.Group-Copy-4 {
    width: 11px;
    height: 11px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 13px;
}

/* Common */
.rectangle-common {
    display: flex;
    width: 72px;
    height: 42px;
    max-width: 300px;
    max-height: 42px;
    border-radius: 6px;
    background-color: #eef2f7;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 12px;
}
    
.common {
    display: flex;
    margin-left: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.common-item {
    font-family: Roboto;
    text-decoration: none;
    font-size: 13px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 12px;
    padding-top: 4px;
}

.Group-Copy-5 {
    width: 11px;
    height: 11px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 13px;
}

/* Clothes */
.rectangle-clothes {
    display: flex;
    width: 140px;
    height: 42px;
    max-width: 300px;
    max-height: 42px;
    border-radius: 6px;
    background-color: #eef2f7;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 12px;
}
    
.clothes {
    display: flex;
    margin-left: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.clothes-item {
    font-family: Roboto;
    text-decoration: none;
    font-size: 13px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 12px;
    padding-top: 4px;
}

.Group-Copy-6 {
    width: 11px;
    height: 11px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 13px;
}

/* Shop */
.rectangle-shop {
    display: flex;
    max-width: 300px;
    max-height: 42px;
    border-radius: 6px;
    background-color: #eef2f7;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 12px;
}
    
.shop {
    display: flex;
    margin-left: 9px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.shop-item {
    font-family: Roboto;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-right: 12px;
    padding-top: 4px;
}

.Group-Copy-7 {
    width: 11px;
    height: 11px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 13px;
    margin-right: 10px;
}
