@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

.banner {
    width: 1080px;
    height: 413px;
    background-image: linear-gradient(to right, #1489e7, #003e82);
    overflow: hidden;
}

.Cards {
    width: 542px;
    height: 413px;
    object-fit: contain;
    float: left;
}

.banner-content {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin-left: 14px;
}

.content-1 {
    width: 342px;
    height: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 1;
    color: #ffffff;
    margin-top: 91px;
    margin-bottom: 18px;
}

.content-2 {
    width: 326px;
    height: 62px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 0;
}

button {
    width: 212px;
    height: 62px;
    border-radius: 6px;
    background-color: #ffdd2d;
    text-align: center;
}

.button-content {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 1.41;
    text-align: center;
    color: #333333;
    border: 0;
    margin-top: 5px
}